<div class="back-page">
  <div class="account-page">
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class='field-label'>
          <%= f.label :nickname, 'ニックネーム' %><br />
        </div>
        <div class='field-input'>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :email, 'メールアドレス' %><br />
        </div>
        <div class='field-input'>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :password, 'パスワード' %>
          <i>(英数字混合6文字以上)</i><br />
        </div>
        <div class='field-input'>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :password_confirmation, '確認用パスワード' %><br />
        </div>
        <div class='field-input'>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "開始する", class:'btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>