<%= render "shared/header" %>

<div class="my-page">
  <div class="side-bar">
    <div class="my-profile">
      <div class="user-name">
        <h1> <%= current_user.nickname %> </h1>
      </div>
      <h2>Links</h2>
      <div class="my-links">
        <div class="my-link"><a href="#">投稿</a></div>
        <div class="my-link"><a href="#">お気に入り</a></div>
      </div>
    </div>
    <div class="cate-search">
      <h2>カテゴリー検索</h2>
      <div class="my-cates">
        <div class="my-cate"><a href="#">pyton</a></div>
        <div class="my-cate"><a href="#">ruby</a></div>
        <div class="my-cate"><a href="#">HTML・CSS</a></div>
        <div class="my-cate"><a href="#">ruby on rails</a></div>
        <div class="my-cate"><a href="#">javaScript</a></div>
        <div class="my-cate"><a href="#">jquery</a></div>
      </div>
    </div>
  </div>
  <div class="main">
    <h2><%= current_user.nickname %>さんの投稿一覧</h2>
    <div class="my-index">
      <% @posts.each do |post| %>
        <div class="my-post-header">
          <div class="my-post-date"> 投稿日時：<%= post.created_at %> </div>
          <% if user_signed_in? && @user.id == current_user.id%>
            <div class="my-post-edit"> <%= link_to "編集", edit_post_path(post.id) %></div>
            <div class="my-post-delete"> <%= link_to "削除", post_path(post.id), method: :delete %></div>
          <% end %>
        </div>
        <div class="my-post-body">
          <div class="my-post-title"> タイトル：<a href="#"> <%= post.title %> </a></div>
          <div class="my-post-favorite"> ☆<%= post.favorites.count %> </div>
        </div>
        <div class="my-post-category">
          <div class="cate-head">  カテゴリー：</div>
          <div class="my-post-cate">  <a href="#"> <%= post.l_cate.name %> </a></div>
          <div class="my-post-cate"> <a href="#"> <%= post.m_cate.name %> </a></div>
          <div class="my-post-cate"> <a href="#"> <%= post.s_cate.name %> </a> </div>
        </div>
      <% end %>
    </div>
    <div class="my-index">
      <div class="my-post-header">
        <div class="my-post-date"> 投稿日時：2021/09/04 19:20 </div>
        <div class="my-post-edit"> <a href="#"> 編集 </a></div>
        <div class="my-post-delete"> <a href="#"> 削除 </a></div>
      </div>
      <div class="my-post-body">
        <div class="my-post-title"> タイトル：<a href="#"> 2回目投稿 </a></div>
        <div class="my-post-favorite"> ☆1000 </div>
      </div>
      <div class="my-post-category">
        <div class="cate-head">  カテゴリー：</div>
        <div class="my-post-cate">  <a href="#"> フレームワーク </a></div>
        <div class="my-post-cate"> <a href="#"> ruby on rails </a></div>
        <div class="my-post-cate"> <a href="#"> MVC </a> </div>
      </div>
    </div>
    <div class="my-index">
      <div class="my-post-header">
        <div class="my-post-date"> 投稿日時：2021/09/04 18:50</div>
        <div class="my-post-edit"> <a href="#"> 編集 </a></div>
        <div class="my-post-delete"> <a href="#"> 削除 </a></div>
      </div>
      <div class="my-post-body">
        <div class="my-post-title"> タイトル：<a href="#"> 初投稿 </a></div>
        <div class="my-post-favorite"> ☆533 </div>
      </div>
      <div class="my-post-category">
        <div class="cate-head">  カテゴリー：</div>
        <div class="my-post-cate">  <a href="#"> 言語 </a></div>
        <div class="my-post-cate"> <a href="#"> ruby </a></div>
        <div class="my-post-cate"> <a href="#"> 環境構築 </a> </div>
      </div>
    </div>
  </div>
</div>