<%= render "shared/header" %>

<div class="my-page">
  <div class="side-bar">
    <div class="my-profile">
      <div class="user-name">
        <h1> <%= @user.nickname %> </h1>
      </div>
      <h2>Links</h2>
      <div class="my-links">
        <%= link_to "my投稿",user_path(@user.id), class: "my-link" %>
        <%= link_to "お気に入り",favorite_posts_show_user_path(@user.id), class: "my-link" %>
      </div>
    </div>
    <div class="cate-search">
      <h2>お気に入りユーザ</h2>
      <div class="my-cates">
        <% if @favorite_users.present?%>
          <% @favorite_users.each do |favorite_user| %>
            <%= link_to "#{favorite_user.nickname}",user_path(favorite_user.id), class: "favorite-user" %>
          <% end %>
        <% else %>
          お気に入りユーザはいません
        <% end %>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-header">
      <h2><%= @message %></h2>
      <div class="page-content">
        <%= paginate @posts %> 
      </div>
    </div>
    <%= render partial: "shared/post_index", locals: { posts: @posts } %>
  </div>
</div>