<div class="shared-header">
  <div class="header-left-content">
    <p>EN2(logo)</p>
  </div>
  <div class="header-center-content">
    <%= text_field_tag "search-word", "Ruby..", {class:"search_word"} %>
  </div>
  <div class="header-right-content">
    <% if user_signed_in? %>
      <%= button_to "投稿", {controller: 'posts', action: 'new'}, {method: :get} %>
      <%= link_to current_user.nickname, "#"%>
    <% else %>
      <%= link_to 'ログイン',  new_user_session_path %>
      <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
  </div>
</div>