<div class="shader-header-registrations">
  <div class="shader-registration-left">
    <h1>ようこそ!EN2アプリへ！</h1>
    <p>EN2アプリはエンジニアによるエンジニアのための検索エンジンとなる学習補助アプリです。</p>
    <ul>
      <li>機能1：学習した内容を投稿（アウトプット）することで知識の定着をサポートします。</li>
      <li>機能2：カテゴリー・キーワード検索により過去に投稿した欲しい記事をピンポイントで検索できます。</li>
      <li>機能3：開発に行き詰まった時、他ユーザーが投稿した記事を検索し参考にすることができます。</li>
    </ul>
    <P>さあ、会員登録して記事を投稿してみましょう！</p>
  </div>
  <div class="shader-registration-right">
    <%= form_with model: @user, url: user_registration_path, class: 'top-new-registration', local: true do |f| %>
      <div class="registration-form">
        <div class="field">
          <div class='registration-field-label'>
            <%= f.label :nickname, 'ニックネーム' %><br />
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          </div>
        </div>

        <div class="field">
          <div class='registration-field-label'>
            <%= f.label :email, 'メールアドレス' %><br />
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="field">
          <div class='registration-field-label'>
            <%= f.label :password, 'パスワード' %>
            <i>(英数字混合6文字以上)</i><br />
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="field">
          <div class='registration-field-label'>
            <%= f.label :password_confirmation, '確認用パスワード' %><br />
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
      </div>
      <div class="registration-actions">
        <%= f.submit "EN2を始める", class:'registration-btn' %>
      </div>
    <% end %>
  </div>
</div>