<div class="shader-header-registrations">
  <div class="shader-registratio-left">
    <p>ようこそ</p>
    <P>会員登録をして記事を投稿してみましょう。！</p>
  </div>
  <div class="shader-registratio-right">
    <%= form_with model: @user, url: user_registration_path, class:"shader-registration", local: true do |f| %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
      <%= f.text_field :nickname, class:"input-default", id:"nickname" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(英数字混合6文字以上)</label>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">確認用パスワード</label>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation" %>
    </div>

      <div class="shader-actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>