<%= render "shared/header" %>
<% unless  user_signed_in? %>
  <%= render "shared/registrations" %>
<% end %>
<div class="message">
  <%= @message %>
</div>
<div class="posts-index">
  <div class="main">
    <div class="main-header">
      <h2>投稿一覧</h2>
      <div class="page-content">
        <%= paginate @posts %> 
      </div>
    </div>
    <%= render partial: "shared/post_index", locals: { posts: @posts } %>
  </div>
  <div class="post-pick">
    <h2>最もお気に入りされている記事</h2>
    <p>記事名（タイトル）お気に入りされている数</p>
  </div>
</div>