<%= render "shared/header" %>
<% unless  user_signed_in? %>
  <%= render "shared/registrations" %>
<% end %>
<div class="message">
  <%= @message %>
</div>
<div class="posts-index">
  <div class="main">
    <div class="main-header">
      <h2>投稿一覧</h2>
      <div class="page-content">
        <%= paginate @posts %> 
      </div>
    </div>
    <%= render partial: "shared/post_index", locals: { posts: @posts } %>
    <%= paginate @posts %> 
  </div>
  <div class="post-pick">
    <div class="post-pick-header">
      <h2>お気に入りランキング TOP10</h2>
    </div>
    <%= render partial: "shared/post_index", locals: { posts: @favorite_posts } %>
  </div>
</div>