<%= render 'shared/header' %>
<div class="posts-new">
  <%= form_with mdoel: @post, url:posts_path, local: true do |f| %>
    <div class="post-new-title">
      <%= f.text_field :title, class:"post-title-text", placeholder:"タイトル" %>
    </div>
    <div class="post-main">
      <div class="post-text">
        <div class="post-cate">
          <%= f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}%>
          <div class='listing-product-detail__category'>
          </div>
        </div>
        <%= f.text_area :text, required: true, class:"post-text", id:"post-text-area" %>
      </div>
      <div class="post-preview">
        <div class="post-icon-preview">
          <p>Preview</p>
        </div>
        <div class="post-text-preview" id="post-text-preview" >
        </div>
      </div>
    </div>
    <div class="post-action">
      <%= f.submit "投稿する", class:"post-btn" %>
    </div>
  <% end %>
</div>

